.footer_section {
  margin-top: 50px;
  padding: 20px;
  background-color: $background-color;
  color: $text-color;
}

.footer-container {
  @include display-style($justify: space-evenly, $align: flex-start);
  @include font-style($line-height: 1.5rem);
  margin: 30px 0;
  gap: 20px;
  letter-spacing: -0.03em;
  text-align: left;

  @include lg {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }

  @include bp(650px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    text-align: center;
  }

  @include bp(480px) {
    @include display-style($direction: column);
    padding: 0;
  }
}

.footer-logo {
  @include display-style($justify: left);

  @include lg {
    width: 100%;
  }

  img {
    width: 70px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
  }
}

.footer-links {
  li {
    list-style-type: none;
    padding: 5px 0;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}

.footer-links li:hover {
  color: $primary-color;
}

.social-media-img {
  @include display-style($justify: normal);
  gap: 10px;

  @include bp(650px) {
    justify-content: center;
  }
}

.social-media-img img {
  width: 30px;
  height: 30px;
  border-radius: 13px;
}

.footer-copyright {
  @include font-style(
    $size: 1.1rem,
    $line-height: 1.6rem,
    $letter-space: -0.03em
  );
  text-align: center;
}
