.service-section {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h1 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
  }
}

.dots-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dot.active {
    background-color: $primary-color;
  }
}

.service-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 85%;
  max-width: 950px;
  padding: 10px 0;
  border: 1px solid $primary-color;

  &::-webkit-scrollbar {
    display: none;
  }

  @include bp(580px) {
    max-width: 500px;
  }

  @include bp(480px) {
    max-width: 300px;
  }
}

.service-item {
  flex: 0 0 100%;
  max-width: 290px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  transition: transform 0.5s ease;
}

.service-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: 150px;
  }

  h3 {
    text-align: center;
    margin-top: 20px;
  }

  h1 {
    text-align: center;
    margin: 0;
  }

  p {
    font-size: 0.85rem;
    margin-top: 10px;
  }

  .price-button {
    border: none;
    background-color: #007bff;
    color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
